<h1 class='text-center'>Restaurant</h1>
<div class='text-center restaurant-links'>
    <%= link_to new_restaurant_path, class:'btn btn-primary btn-lg' do %>
        New Restaurant <i class='glyphicon glyphicon-plus'></i>
    <% end %>
</div>
<div class="row">
    <% if @restaurants.empty? %>
        <p>No restaurants avaliable</p>
    <% else %>

        <ul class='restaurants'>
          <%= render 'restaurant', obj: @restaurants %>
        </ul>

    <% end %>
</div>
