@import 'bootstrap-sprockets';
@import 'bootstrap';

/* ==========================================================
! color
========================================================== */
$white: #fff;
$black: #000;
$red: #a80000;

/* ==========================================================
! mixins
========================================================== */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/* ==========================================================
! Generic
========================================================== */

.btn-primary:hover {
  background-color: #285070;
}

/* ==========================================================
! Navbar
========================================================== */

.navbar {
  background: #3c8dbc;
}

.navbar-brand {
  font-size: 25px;
  text-shadow: $black 1px 0 10px;
}

.navbar-brand:hover {
  text-shadow: $white 1px 0 10px;
}

.navbar-brand > .brand-image {
  display: inline-block;
  height: 40px;
  margin-top: -15px;
  width: 40px;
}

.navbar a {
  color: $white;
}

.navbar a:hover,
.nav > li > a:hover {
  background: #285070;
  color: $white;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #222d32;
}

.dropdown-menu {
  background: #285070;
}

.dropdown-menu > li >a {
  color: $white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #3c8dbc;
  color: $white;
}
// background: #222d32;

.navbar-toggle {
  border-color: $white;

  .icon-bar {
    background: $white;
  }
}

.navbar-nav .open .dropdown-menu {
  background: #285070;
}

/* ==========================================================
! form
========================================================== */
.required {
  color: $red;
  font-weight: bold;
}

.input_checkbox {
  font-weight: bold;
  letter-spacing: .5px;

  input {
    width: auto !important;
  }
}

/* ==========================================================
! restaurant
========================================================== */

.restaurants {
  margin: auto;
  padding-left: 0;
}

@media (min-width: 768px)
{
  .col-sm-center-offset-1 {
    margin-left: 4.165%;
    margin-right: 4.165%;
  }
}

.restaurant {
  background: $white;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 550px;
}

.more-info {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.more-info > li {
  border-bottom: 1px dashed #d9d9d9;
  padding: 5px 0;
}

.more-info .field-name {
  font-weight: bold;
}

.category {
  background-color: #3c8dbc;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;

  &:hover {
    background-color: #285070;
    text-decoration: none;
  }

  a {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.restaurant-links {
  padding-bottom: 10px;
  padding-top: 10px;

  a {
    margin: 5px;
  }
}

/* ==========================================================
! Sidebar
========================================================== */

/* ==========================================================
! Sidebar - Map
========================================================== */
iframe {
  height: 312px;
  width: 100%;
}

/* ==========================================================
! Scroll to top link
========================================================== */

#return-to-top {
  @include border-radius(35px);
  background: rgba(0, 0, 0, .7);
  bottom: 20px;
  display: none;
  height: 50px;
  position: fixed;
  right: 50%;
  text-decoration: none;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s linear;
  transition: all .3s ease;
  width: 50px;
  z-index: 5;

  i {
    color: $white;
    font-size: 19px;
    left: 16px;
    margin: 0;
    position: relative;
    top: 13px;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  &:hover {
    background: rgba(0, 0, 0, .9);

    i {
      color: $white;
      top: 5px;
    }
  }
}

/* ==========================================================
! Footer
========================================================== */
.pagefooter {
  background: #222d32;
  color: #aaa;
  margin-bottom: 10px;
  margin-top: 60px;
  padding: 0 0 30px;

  a {
    color: #aaa;
  }
}

.footer-widget {
  margin: 30px 0 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h3 {
    border-bottom: 1px solid #5a5a5a;
    color: $white;
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-align: center;
  }
}

.copyright {
  border-bottom: 3px double #5a5a5a;
  border-top: 3px double #5a5a5a;
  margin-top: 20px;
  padding: 10px;
}

@media only screen and (max-width: 767px) {

  .footer-widget ul li {
    display: inline-block;
  }

}
