@import "bootstrap-sprockets";
@import "bootstrap";

/* ==========================================================
! Generic
========================================================== */

.btn-primary:hover {
    background-color: #285070;
}

/* ==========================================================
! Navbar
========================================================== */

.navbar
  {
    background:#3c8dbc;
  }
  
  
  .navbar-brand
  {
    font-size: 25px;
    /*background:#2C5C7D;*/
    text-shadow: #000 1px 0 10px;
  }
  
  .navbar-brand:hover
  {
    text-shadow: #fff 1px 0 10px;
  }
  
  .navbar-brand > .brand-image
  {
    display:inline-block;
    width:40px;
    height:40px;
    margin-top:-15px;
  }
  
  .navbar a{
    color:white;
  }
  .navbar a:hover,
  .nav > li > a:hover
  {
    background:#285070;
    color:white;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  {
    background: #222d32;
  }
  
  .dropdown-menu
  {
    background:#285070;
  }
  
  .dropdown-menu > li >a
  {
    color:white;
  }
  
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
  {
    background:#3c8dbc;
    color:white;
  }
  /*background: #222d32;*/
  
  .navbar-toggle
  {
    border-color:white;
  }
  
  .navbar-toggle .icon-bar
  {
    background:white;
  }
  
  .navbar-nav .open .dropdown-menu {
    background:#285070;
  }

/* ==========================================================
! form
========================================================== */
.required
{
    color:#A80000;
    font-weight:bold;
}
/* ==========================================================
! restaurant
========================================================== */

.restaurants
{
    margin:auto;
}
.restaurant
{
    list-style:none;
    // border:solid 1px #000;
    min-height:550px;
    // margin-top: 10px;
    margin:10px 4.166665%;
    // margin-bottom: 10px;
    background:#fff;
}




.more-info
{
    list-style:none;
    margin:0;
    padding-left:0;
}

.more-info > li {
    border-bottom: 1px dashed #D9D9D9;
    padding: 5px 0;
}

.more-info .field-name
{
    font-weight:bold;
}

.restaurant_links{
    padding-top:10px;
    padding-bottom:10px;
}
.restaurant_links a{
    margin:auto 5px;
    
}

/* ==========================================================
! Sidebar
========================================================== */

/* ==========================================================
! Sidebar - Map
========================================================== */
iframe
{
    height:312px;
    width:100%;
}

/* ==========================================================
! Scroll to top link
========================================================== */

#return-to-top {
    z-index:5;
    position: fixed;
    bottom: 20px;
    // right: 20px;
    right:50%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* ==========================================================
! Footer
========================================================== */
.pagefooter 
    {
// 	background: #3a3a3a;
    background:#222d32;
	margin-top:60px;
	margin-bottom:10px;
	/*margin: 30px 0;*/
	padding: 0 0 30px;
	color: #aaa;
}
.pagefooter a {
	color: #aaa;
}
.footer-widget {
	margin: 30px 0 0;
}
.footer-widget ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align:center;
}


.footer-widget h3 {
	color: #fff;
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #5a5a5a;
	text-align:center;
}

.copyright
{
    margin-top:20px;
    padding:10px;
    border-top: 3px double #5a5a5a;
    border-bottom: 3px double #5a5a5a;
}

@media only screen and (max-width: 767px) {
  
  .footer-widget ul li
  {
    display:inline-block;
  }
  
}