@import 'bootstrap-sprockets';
@import 'bootstrap';

/* ==========================================================
! color
========================================================== */
$white: #fff;
$black: #000;
$red: #a80000;

/* ==========================================================
! Generic
========================================================== */

.btn-primary:hover {
  background-color: #285070;
}

/* ==========================================================
! Navbar
========================================================== */

.navbar {
  background: #3c8dbc;
}


.navbar-brand {
  font-size: 25px;
  // background: #2C5C7D;
  text-shadow: $black 1px 0 10px;
}

.navbar-brand:hover {
  text-shadow: $white 1px 0 10px;
}

.navbar-brand > .brand-image {
  display: inline-block;
  height: 40px;
  margin-top: -15px;
  width: 40px;
}

.navbar a {
  color: $white;
}

.navbar a:hover,
.nav > li > a:hover
{
  background: #285070;
  color: $white;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #222d32;
}

.dropdown-menu {
  background: #285070;
}

.dropdown-menu > li >a {
  color: $white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #3c8dbc;
  color: $white;
}
// background: #222d32;

.navbar-toggle {
  border-color: $white;
}

.navbar-toggle .icon-bar {
  background: $white;
}

.navbar-nav .open .dropdown-menu {
  background: #285070;
}

/* ==========================================================
! form
========================================================== */
.required {
  color: $red;
  font-weight: bold;
}
/* ==========================================================
! restaurant
========================================================== */

.restaurants {
  margin: auto;
}

.restaurant {
  background: $white;
  list-style: none;
  // border:solid 1px $black;
  margin: 10px 4.166665%;
  min-height: 550px;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

.more-info {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.more-info > li {
  border-bottom: 1px dashed #D9D9D9;
  padding: 5px 0;
}

.more-info .field-name {
  font-weight: bold;
}

.restaurant-links {
  padding-bottom: 10px;
  padding-top: 10px;
}

.restaurant-links a {
  //margin: auto 5px;
  margin: 5px;
}

/* ==========================================================
! Sidebar
========================================================== */

/* ==========================================================
! Sidebar - Map
========================================================== */
iframe {
  height: 312px;
  width: 100%;
}

/* ==========================================================
! Scroll to top link
========================================================== */

#return-to-top {
  background: rgba(0, 0, 0, .7);
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  bottom: 20px;
  // right: 20px;
  // display: block;
  display: none;
  height: 50px;
  position: fixed;
  right: 50%;
  text-decoration: none;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s linear;
  transition: all .3s ease;
  width: 50px;
  z-index: 5;
}

#return-to-top i {
  color: $white;
  font-size: 19px;
  left: 16px;
  margin: 0;
  position: relative;
  top: 13px;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, .9);
}

#return-to-top:hover i {
  color: $white;
  top: 5px;
}

/* ==========================================================
! Footer
========================================================== */
.pagefooter {
// 	background: #3a3a3a;
  background: #222d32;
  color: #aaa;
  margin-bottom: 10px;
  margin-top: 60px;
  // margin: 30px 0;
  padding: 0 0 30px;
}

.pagefooter a {
  color: #aaa;
}

.footer-widget {
  margin: 30px 0 0;
}

.footer-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.footer-widget h3 {
  border-bottom: 1px solid #5a5a5a;
  color: $white;
  margin: 0 0 20px;
  padding: 0 0 20px;
  text-align: center;
}

.copyright {
  border-bottom: 3px double #5a5a5a;
  border-top: 3px double #5a5a5a;
  margin-top: 20px;
  padding: 10px;
}

@media only screen and (max-width: 767px) {

  .footer-widget ul li {
    display: inline-block;
  }

}
