<a href="javascript:" id="return-to-top" title="Scroll to top">
    <i class="glyphicon glyphicon-chevron-up"></i>
    </a>
    
<footer class="pagefooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="widget-title">About</h3>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="#" title='company histroy and values'>Our Story</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="#" title="Our Team">Agents</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="#" title="Career opportunities">Careers</a>
                        </li>
                    </ul>
                </div>
                <!-- .footer-company-info -->
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="widget-title">Support</h3>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="#" title='Contact us'>Contact Us</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a href="#" title="Frequently Asked Questions">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="widget-title">Useful links</h3>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Home" href="/">Home</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Restaurant" href="#">Restaurants</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Blog" href="#">Blog</a>
                        </li>

                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Sitemap" href="#">Sitemap</a>
                        </li>
                    </ul>
                </div>
                <!-- .footer-widget -->
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="widget-title">Legal</h3>
                    <ul>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Privacy Policies" href="#">Privacy</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Terms and Conditions" href="#">Terms</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>
                            <a title="Copyright Policies" href="#">Copyright</a>
                        </li>
                    </ul>
                </div>
                <!-- .footer-widget -->
            </div>
        </div>
    
        <div class='text-center copyright'>
            <small>
                &copy;
                <span id="from_date">2014</span> - <span id="to_date"><%= Date.today.year %></span>
                foodreview Ltd. All rights Reserved. Registered in England No: XXXXXXX
            </small>
        </div>
    </div>
</footer>

