<div style='padding:15px; background:white;margin-bottom:30px;'>
    <div class='owner-image'>
        [image here]
    </div>
    <div class='owner-details'>
        <h2>Owner</h2>
        <ul>
            <li>Some Name</li>
            <li>Some contact info</li>
        </ul>
    </div>
</div>