<div class="search-form widget">
    <h3 class='text-center'>Find restaurant</h3>
    <form action="#" class="row-fluid form-horizontal search-form" method="post">
                <div class='form-group'>
            <label for='name'>Name</label>
            <input type='text' class='form-control'>
        </div>
        <div class='form-group'>
            <label for='location'>Location</label>
            <select class="col-xs-12 select form-control" name="location">
                <option>Please Select</option>
                <option value="#">New York</option>
                <option value="#">Los Angeles</option>
                <option value="#">Washington</option>
                <option value="#">Chicago</option>
                <option value="#">Miami</option>
            </select>
        </div>
        
        <div class='form-group'>
            <label for type='type' class='col-xs-12'>Type</label>
            <select class="col-xs-12 select form-control" name="type">
                <option>Please Select</option>
                <option value="#">Any</option>
                <option value="#">Single Family Home</option>
                <option value="#">Condo</option>
                <option value="#">Apartment</option>
                <option value="#">Loft</option>
            </select>
        </div>
        <div class='form-group'>
            <label for type='type' class='col-xs-12'>Rating</label>
            <select class="col-xs-12 select form-control" name="rating">
                <option>Please Select</option>
                <option value="#">1</option>
                <option value="#">2</option>
                <option value="#">3</option>
                <option value="#">4</option>
                <option value="#">5</option>
            </select>
        </div>
        <div class='form-group'>
            <label for type='status' class='col-xs-12'>Status</label>
            <select class="col-xs-12 select form-control" name="status">
                <option>Please Select</option>
                <option value="#">For Rent</option>
                <option value="#">For Sale</option>
            </select>
        </div>

        <div class="clearfix">
            <button class="btn btn-default pull-right col-sm-6 btn-realto-form btn-large" type="submit">Search</button>
        </div>
    </form>
    </div>
    <style>
        .search-form,.search-form-widget
        {
            padding:15px;
        }
        
        .search-form
        {
            background:white;
        }
    </style>